MONGODB_URI=mongodb+srv://your-username:your-password@cluster.mongodb.net/paisatracker?retryWrites=true&w=majority
PORT=5000
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-client-email@project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
MONGODB_URI=mongodb+srv://vloggermr797_db_user:o3YyKyIqOZ8r8jcd@paisatrack.bwlajhv.mongodb.net/paisatrack?retryWrites=true&w=majority&appName=paisatrack
FIREBASE_SERVICE_ACCOUNT=./serviceAccount.json
PORT=5000